body {
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    font-family: 'ShopifySans', sans-serif;
  }
  
  .polaris-Card {
    margin-bottom: 20px;
  }
  
  .polaris-Button {
    margin-top: 10px;
  }
  
  .polaris-TextField {
    margin-bottom: 15px;
  }

  .button{
    background-color:#212529;
  }